.answer {
    outline-style: solid;
    outline-width: thin;
    margin-top: 10px;
    margin-bottom: 10px;
}
.question {
    outline-style: solid;
    outline-width: thin;
    padding: 10px;   
}
.question:hover {
    color:red;
}
.detail {
    text-align: right;
}
.answerbutton {
}
