<div class="container">

  <div class="panel panel-primary">
    <div class="panel-heading">Settings Page</div>
    <div class="panel-body">
      <h3>User Information</h3>
      <br/>
      <div class="form-group">
        <label>Email:</label>
        <input type="email" [(ngModel)]="user.email" value="default value" class="form-control" disabled/>
      </div>

      <div class="form-group">
        <label>Password:</label>
        <input type="password" [(ngModel)]="newpassword" class="form-control" placeholder="password"/>
      </div>
      <div class="form-group">
        <label>Password Confirmation:</label>
        <input type="password" [(ngModel)]="passwordConfirmation" class="form-control" placeholder="retype Password"/>
      </div>

      <div class="form-group">
        <label>Username:</label>
        <input type="text" [(ngModel)]="user.username" value="default value" class="form-control" placeholder="username" disabled/>
      </div>

      <h4>Tags</h4>
      <div class="form-group">
        <label>Locations:</label>
        <span *ngFor="let userLocation of userLocationList">
          <span class="label label-success">{{userLocation}}</span>
          <button class="badge"
            (click)="userLocationDelete(userLocation); $event.stopPropagation()">
            x</button> &nbsp;
          </span>
        <br>
        <label> o My country is... </label>
        <span *ngFor="let country of countryList"
          [class.selected]="country.loc_name === selectedCountry"
          (click)="countrySelect(country.loc_name, 'selectedCountry', 'selectedProvince', 'selectedCity', 'provinceList', 'cityAutoComplete')">
          <button class="badge">{{country.loc_name}} </button> &nbsp;
        </span>
        <br>
        <label> o My province is... </label>
        <span *ngFor="let province of provinceList"
          [class.selected]="province.loc_name === selectedProvince"
          (click)="provinceSelect(province.loc_name, 'selectedCountry', 'selectedProvince', 'selectedCity', 'provinceList', 'cityList', 'cityAutoComplete')">
          <button class="badge">{{province.loc_name}} </button> &nbsp;
        </span>
        <br>
        <label> o My city is... </label>
        <div class="container" *ngIf="cityAutoComplete">
          <div class="input-field col s6">
            <input id="cityAutoComplete.rawList" type="text" class="validate filter-input" name="City" placeholder="City" [(ngModel)]=cityAutoComplete.query (keyup)=cityAutoComplete.filter()>
            <label for="cityAutoComplete.rawList"></label>
          </div>
          <div class="suggestions" *ngIf="cityAutoComplete.filteredList.length > 0">
            <ul *ngFor="let item of cityAutoComplete.filteredList">
              <li>
                <a (click)="cityAutoComplete.select(item)">{{item}}</a>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <span *ngIf="selectedCountry!=''" class="label label-primary">{{selectedCountry}}</span>
        <span *ngIf="selectedProvince!=''" class="label label-primary">{{selectedProvince}}</span>
        <span *ngIf="selectedCity!=''" class="label label-primary">{{selectedCity}}</span>
        <button (click)="userLocationAdd('selectedCountry', 'selectedProvince', 'selectedCity', 'provinceList', 'cityList', 'userLocationList', 'cityAutoComplete', 'user')">Add!</button><br>
      </div>

      <div class="form-group">
        <label>Services:</label>

        <span *ngFor="let userService of userServiceList">
          <span class="label label-success">{{userService}}</span>
          <button class="badge" (click)="serviceDelete(userService, 'user', 'userServiceList'); $event.stopPropagation()">
          x</button> &nbsp;
        </span>
        <br>

        <label>Popular Services:</label>
        <span *ngFor= "let service of serviceList"
          (click)="userServiceSelect(service, 'user', 'userServiceList', 'userBlockedServiceList')">
          <button class="badge"> {{service}} </button> &nbsp;
        </span>

        <label> ...or add your own tag! </label>
        <div class="container" *ngIf="serviceAutoComplete">
          <div class="input-field col s6">
            <input id="serviceAutoComplete.rawList" type="text" class="validate filter-input" name="Service" placeholder="Service" [(ngModel)]=serviceAutoComplete.query (keyup)=serviceAutoComplete.filter()>
            <label for="serviceAutoComplete.rawList"></label>
          </div>
          <div class="suggestions" *ngIf="serviceAutoComplete.filteredList.length > 0">
            <ul *ngFor="let item of serviceAutoComplete.filteredList">
              <li>
                <a (click)="serviceAutoComplete.select(item)">{{item}}</a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-default" (click)="userServiceAdd('newService', 'user', 'userServiceList', 'userBlockedServiceList', 'serviceAutoComplete', 'serviceList')"> Add! </button>

      </div>

      <div class="form-group">
        <label> Blocked Services: </label>
        <span *ngFor="let userBlockedService of userBlockedServiceList">
            <span class="label label-success">{{userBlockedService}}</span>
            <button class="badge" (click)="userBlockedServiceDelete(userBlockedService); $event.stopPropagation()">
            x</button> &nbsp;
        </span>
        <br>
        <label> type tag to block </label>
        <div class="container" *ngIf="blockAutoComplete">
          <div class="input-field col s6">
            <input id="blockAutoComplete.rawList" type="text" class="validate filter-input" name="Service" placeholder="Service" [(ngModel)]=blockAutoComplete.query (keyup)=blockAutoComplete.filter()>
            <label for="blockAutoComplete.rawList"></label>
          </div>
          <div class="suggestions" *ngIf="blockAutoComplete.filteredList.length > 0">
            <ul *ngFor="let item of blockAutoComplete.filteredList">
              <li>
                <a (click)="blockAutoComplete.select(item)">{{item}}</a>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn btn-default" (click)="userBlockedServiceAdd('newBlockService', 'user', 'userServiceList', 'userBlockedServiceList', 'blockAutoComplete')"> Add! </button>
      </div>

      <label> Select notification frequency</label>
      <select [(ngModel)]="selectedFreq" (ngModelChange)="onChange($event)">
          <option *ngFor="let freq of notiFrequencyList" [ngValue]="freq"> {{freq}} min </option>
      </select>

      <div class="form-group">
        <button class="btn btn-block" (click)="SaveChanges()">
          <span class="glyphicon glyphicon-log-in"></span> Save </button>
      </div>

      <hr>
      <div class="col-md-4 text-center">
        <button class="btn btn-link" (click)="goToMain()">Go Back to Main Page without Saving</button>
      </div>

    </div>
  </div>

</div>
