<div class="panel panel-primary">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-pushpin"></span> 
    Plask!
  </div>

  <div class="panel-body">
    <button class="btn pull-right" (click)="goToSettings()">
        <span class="glyphicon glyphicon-cog"></span>
        Settings
    </button>

    <ul class="nav nav-tabs">
      <li class="active">
        <a  href="#1" data-toggle="tab">Main Page</a>
      </li>
      <li>
          <a href="#2" data-toggle="tab" >My Questions</a>
      </li>
      <li>
        <a href="#3" data-toggle="tab">My Answers</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="1">
        <h3>Questions received by the user</h3> 
        <h3>Recommended questions (If inbox is empty)</h3>
      </div>
      <div class="tab-pane" id="2">
        <h3>Questions that the user has asked</h3>
      </div>
      <div class="tab-pane" id="3">
        <h3>Questions that the user has answered</h3>
      </div>
    </div>

  </div>

</div>


