<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon-pushpin"></span>
                Plask!
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="activate">
                <a [routerLink]="['/main',{outlets: {'tab':['maintab']}}]">Main Page</a>
            </li>
            <li>
                <a [routerLink]="['/main',{outlets: {'tab':['myquestions']}}]">My Questions</a>
            </li>
            <li>
                <a [routerLink]="['/main',{outlets: {'tab':['myanswers']}}]">My Answers</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <button class="btn pull-right" (click)="goToSettings()">
                <span class="glyphicon glyphicon-cog"></span>
            </button>

            <button class="btn pull-right" (click)="goSignOut()">
                <span class="glyphicon glyphicon-log-out"></span>
            </button>
        </ul>
    </div>
    <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchString" name="sString">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" (click)="search()">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </div>
        </div>
        <div>
            <label>Location:</label>
            <select [(ngModel)]="searchNation" name="sCountry" (ngModelChange)="countrySearch($event)">
                <option> Nation </option>
                <option *ngFor="let country of countryList"> {{country.loc_name}} </option>
            </select>

            <select  [(ngModel)]="searchProvince" name="sProvince" (ngModelChange)="provinceSearch($event)">
                <option> Province </option>
                <option *ngFor= "let province of searchProvinceList"> {{province.loc_name}} </option>
            </select>
            <div class="container" *ngIf="searchCityAutoComplete">
                <div class="input-field col s6">
                    <input id="searchCityAutoComplete.rawList" type="text" class="validate filter-input" name="City" placeholder="City" [(ngModel)]=searchCityAutoComplete.query (keyup)=searchCityAutoComplete.filter()>
                    <label for="searchCityAutoComplete.rawList"></label>
                </div>
                <div class="suggestions" *ngIf="searchCityAutoComplete.filteredList.length > 0">
                    <ul *ngFor="let item of searchCityAutoComplete.filteredList">
                        <li>
                            <a (click)="searchCityAutoComplete.select(item)">{{item}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</nav>
<button (click)="function()" class="btn pull-right"> Refresh
    <span class="glyphicon glyphicon-cog"></span>
</button>

<router-outlet name="tab"></router-outlet>

<div class="dropdown">
    <button (click)="myFunction()" class="dropbtn"> Plask? <span class="caret"></span></button>
    <div id="myDropdown" class="dropdown-content" role="menu">
        <div class="panel panel-info">
            <div class="panel-heading">
                Plask your Question!
            </div>
            <div class="panel-body">

                <textarea [(ngModel)]="question.content" class="form-control" rows="4" placeholder="What do you want to ask?" required></textarea>


                <label>Location:</label>
                <select [ngModel]="selectedDevice" (ngModelChange)="countrySelect($event)">
                    <option> Nation </option>
                    <option *ngFor="let country of countryList"> {{country.loc_name}} </option>
                </select>

                <select  [ngModel]="selectedDevice" (ngModelChange)="provinceSelect($event)">
                    <option> Province </option>
                    <option *ngFor= "let province of provinceList"> {{province.loc_name}} </option>
                </select>

                <div class="container" *ngIf="cityAutoComplete">
                    <div class="input-field col s6">
                        <input id="cityAutoComplete.rawList" type="text" class="validate filter-input" name="City" placeholder="City" [(ngModel)]=cityAutoComplete.query (keyup)=cityAutoComplete.filter()>
                        <label for="cityAutoComplete.rawList"></label>
                    </div>
                    <div class="suggestions" *ngIf="cityAutoComplete.filteredList.length > 0">
                        <ul *ngFor="let item of cityAutoComplete.filteredList">
                            <li>
                                <a (click)="cityAutoComplete.select(item)">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                </div><br>

                <label>Services:</label>
                <span *ngFor="let questionService of questionServiceList">
                    <span class="label label-success">{{questionService}}</span>
                    <button class="badge"
                        (click)="questionServiceDelete(questionService); $event.stopPropagation()">
                        x</button> &nbsp;
                </span>
                <div class="container" *ngIf="serviceAutoComplete">
                    <div class="input-field col s6">
                        <input id="serviceAutoComplete.rawList" type="text" class="validate filter-input" name="Service" placeholder="Service" [(ngModel)]=serviceAutoComplete.query (keyup)=serviceAutoComplete.filter()>
                        <label for="serviceAutoComplete.rawList"></label>
                    </div>
                    <div class="suggestions" *ngIf="serviceAutoComplete.filteredList.length > 0">
                        <ul *ngFor="let item of serviceAutoComplete.filteredList">
                            <li>
                                <a (click)="serviceAutoComplete.select(item)">{{item}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-default" (click)="questionServiceAdd()"> Add! </button>
                <div class="form-group">
                    <button class="btn btn-block" (click)="sendQuestion()">
                        <span class="glyphicon glyphicon-share-alt"></span> Plask! </button>
                </div>
            </div>
        </div>
    </div>
</div>
