<div class="form-group">
  <button class="btn btn-block" (click)="getQuestionList()">
  Refresh <span class=" glyphicon glyphicon-refresh"></span> </button>
</div>
<div class="question-container">
    <a class="question-list" *ngFor="let question of questionList; let qid = index">
        <div class="question-list-item" (click)="expand(question)">
            <h4> {{question[0].content}}</h4>
            <h5 id="author"> {{question[0].author}}</h5>
            <h6 id="time"> {{question[3]}} </h6>
            <span *ngIf="question[0].select_id != -1"class="label label-primary">Answered</span>
        </div>
        <div class="question-list-item" [hidden]="question[1]">
            <div class="tag" (click)="expand(question)">
                <span class="label label-info">Location</span> {{question[0].locations}} <br>
                <span class="label label-info">Services</span> {{question[0].services}}
            </div>
            <div *ngFor="let answer of question[2]; let i = index" (click)="expand(question)">
                <div class=answer> [{{answer.author}}] : {{answer.content}}
                <button *ngIf="chooseAnswerEnable && !(answer.author === user.username)" type="button" (click)="chooseAnswer(question[0].id, answer.id, i)">Choose</button>
                <span *ngIf="answer.id == question[0].select_id" class="glyphicon glyphicon-ok"></span>
                </div>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="answer" placeholder="Comment">
                <span class="input-group-btn">
                    <button class="btn btn-default" type ="button"(click)="answerClick(question[0].id)"> Comment </button>
                </span>
            </div>
        </div>
    </a>
</div>
