.question-list-item {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.question-container {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.question-list {
    margin-bottom: 5px;
    display: block;
    border-left: 5px solid #F1175D;
    background-color: white;
}
a:hover {
    background-color: #FFF7F9;
    text-decoration: none;
    cursor: pointer;
}
a {
    color: #545655;
}
#author {
    text-align:right;
    color: black;
    padding-right: 15px;
}
.tag {
    text-align: right;
    color: black;
    padding-right: 15px;
    margin-bottom: 10px;
}
