<div class="grid grid-pad">
    <div *ngFor="let question of questionList" class="col-1-4">
        <div class=question>
            <div (click)="expand(question)">{{question[0].content}} </div>
            <div class=detail [hidden]="question[1]">{{question[0].locations}} | 
                {{question[0].services}} | {{question[0].author}}  </div>
            <div *ngFor="let answer of question[2]" class="col-1-4">
                <div class=answer [hidden]="question[1]"> [{{answer.author}}] : {{answer.content}}</div>
            </div>
            <div>
                <textarea [hidden]="question[1]" [(ngModel)]="answer" placeholder="comment"></textarea>
                <button class=answerbutton [hidden]="question[1]" (click)="answerClick(question[0].id)"> Comment </button>
            </div>
        </div>
    </div>
</div>
